default:
    suites:
        default:
            contexts:
                - FileParseContext:
                    kernel: '@kernel'
                - FeatureContext:
                    kernel: '@kernel'
                - FileHandleContext:
                    kernel: '@kernel'


    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
